label {
  display: block;
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 5px;
}

fieldset {
  width: 45%;
}

button[type="reset"],
button[type="submit"] {
  margin-left: 50px;
  margin-top: 25px;
  padding: 10px;
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
  border: 2px solid #2bc;
  border-radius: 18px;
  background-color: #f0f0f0;
}
