div {
    background-color: tomato;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 20px;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

img {
    border-radius: 25pt;
}